<div class ='container'>
  <tbody>
    <%= link_to 'Create your album', albums_path, class: "btn btn-outline-dark btn-sm radius-15" %>

    <% @artists.each do |artist| %>
      <ul>
        <li><%= artist.name %></li>
      </ul>
    <% end %>

  </tbody>
</div>
